section {
	display: flex;
	justify-content: center;
	font-family: Barlow;
	font-size: 18px;
}

.container {
	height: 2300px;
	width: 800px;
}

.logo {
	display: flex;
	justify-content: space-between;
	height: 25px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.navigation {
	display: flex;
	align-items: center;
}

.navi-text {
	margin: 0;
	color: white;
	padding-right: 30px;
}

h1 {
	text-align: center;
	color: white;
	font-family: Fraunces;
	margin-top: 50px;
	margin-bottom: 0;
	letter-spacing: 0.4rem;
}

.arrow-down {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-top: 50px;
}

header {
	height: 450px;
	width: 800px;
	background-image: url("images/desktop/image-header.jpg");
	background-size: 800px 450px;
}

.row-one,
.row-two,
.row-three,
.row-four {
	height: 300px;
	width: 800px;
	display: flex;
}

.transform,
.stand-out {
	height: 300px;
	width: 400px;
	padding-left: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 60px;
	background-color: rgb(255, 246, 246); /*temporary*/
}

h2,
h3,
h4,
h5 {
	font-family: Fraunces;
	margin: 0;
}

p {
	font-size: 10px;
	font-family: Barlow;
	color: hsl(210, 4%, 67%);
	line-height: 150%;
	text-align: justify;
}

.yellow-egg,
.red-drink,
.cherry,
.orange {
	height: 300px;
	width: 400px;
}

.cherry {
	background-image: url("images/desktop/image-graphic-design.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.orange {
	background-image: url("images/desktop/image-photography.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.client-testimonials {
	height: 100px;
	width: 800px;
	background-color: rgb(255, 246, 246);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: hsl(210, 4%, 67%);
	font-size: 10px;
	letter-spacing: 0.2rem;
	padding-bottom: 20px;
}

.clients {
	height: 300px;
	width: 800px;
	background-color: rgb(255, 246, 246);
	display: flex;
}

.emily,
.thomas,
.jennie {
	width: 200px;
	height: 300px;
}

.emily {
	margin-left: 80px;
}

.thomas {
	margin-left: 40px;
	margin-right: 40px;
}

.jennie {
	margin-right: 80px;
}

.profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 25%;
	padding: 20px 0;
}

.comment {
	text-align: center;
}

.name {
	text-align: center;
	padding-top: 30px;
	font-size: 12px;
}

.person-function {
	text-align: center;
	font-size: 8px;
	font-family: Barlow;
	font-weight: 600;
	color: hsl(210, 4%, 67%);
}

.milk,
.half-orange,
.cornet,
.sugar {
	height: 300px;
	width: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

.milk {
	background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.half-orange {
	background-image: url("images/desktop/image-gallery-orange.jpg");
}

.cornet {
	background-image: url("images/desktop/image-gallery-cone.jpg");
}

.sugar {
	background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
	height: 250px;
	width: 800px;
	background-color: hsl(168, 34%, 41%);
}
